* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #ffffff;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: black;
}

h3 {
	font-size: 45px;
	margin-bottom: 10px;
}

p {
	font-weight: 100;
}

img {
	width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.btn {
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	background: orange;
	color: white;
	border: 0;
	font-size: 13px;
	text-align: center;
	height: 40px;
	border-radius: 0.25rem;
}

/* Nav Bar */

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 45px 0;
}

.main-nav ul {
	display: flex;
	list-style: none;
}

.main-nav ul li {
	margin-right: 15px;
}

.main-nav ul li:first-child a {
	color: orange;
	padding-top: 33px;
	border-top: orange 3px solid;
}

/* Showcase */
.showcase {
	height: 563px;
	background-image: linear-gradient(
			to left,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1) 99%
		),
		url("img/sandwich.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 60px;
}

.content {
	width: 45%;
	height: 563px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content .btn {
	width: 153px;
}

.content h2 {
	font-size: 53px;
	line-height: 60px;
	margin-bottom: 20px;
}

.content p {
	margin-bottom: 30px;
	font-size: 22px;
}

.best {
	color: orange;
}

/* cards header */

.cards-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;
}

.cards-header p {
	font-size: 22px;
}
/* cards */
.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	margin-bottom: 40px;
}

.cards img {
	margin-bottom: 20px;
}

.cards h4, .cards p{
	margin-bottom: 5px;
	text-align: center;
}

/* Bulletin */
.bulletin {
	display: flex;
	margin: 120px auto;
}

.bulletin img {
	border-top-left-radius: 45%;
	border-bottom-left-radius: 5%;
	height: 543px;
}

.bulletin .image {
	flex: 6;
}

.bulletin .cater {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex: 4;
	margin-right: 10px;
}

.bulletin h4 {
	margin-top: 12px;
	margin-bottom: 27px;
	font-size: 27px;
	font-weight: 200;
}

.bulletin .cater p {
	font-size: 16px;
	margin-bottom: 22px;
}

.bulletin .cater p:last-of-type {
	margin-bottom: 30px;
}

/* Instagram */

.instagram{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 120px;
}

.instagram .gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	width: 85%;
}

/* Subscribe */
.subscribe {
	margin-bottom: 120px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
	padding-bottom: 40px;
}

.email {
	display: flex;
	justify-content: space-between;
}

.email input {
	width: 90%;
	margin-right: 10px;
}

/* Footer */
.footer {
	background: orange;
}

.footer .nav{
	padding-top: 35px;
	width: 45%;
	margin: 0 auto;
}

.footer .nav ul{
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.footer .social {
	padding-top: 35px;
	display: flex;
	justify-content: center;
}

.footer .text {
	padding-top: 35px;
}

.fa-twitter {
	margin: 0 15px;
}